/* Poll Body */
#pollBody{
	background-color: #4D4D4D; /* Dark Grey */
	height: 100%;
}

/* Navigation Bar */
ul#navBar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFF ;
    border: solid 1px #000;
}
li#navItem {
    float: left;
}
li#navItem a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}
li#navItem a:hover {
    background-color: #ED7D31; /* Dark Orange */
	color: #FFF;
	font-weight: bold;
}

/* Home screen */
#divHome h1, #divAddPoll h1, #divAddAnswers h1{
	text-align: center;
    color: #FFF; /* White */
    font-weight: bold;
}
/* Fieldset for the poll */
#pollFieldset{
	background-color: #FFF;
    border-radius:10px; 
}
#pollLegend{
    border: none;
	padding: 10px;
	color: #FFF;
	background-color: #ED7D31; /* Dark Orange */
    border-radius:5px;
	font-size: 15px;	
}
/* Button to go to the results for the selected poll. */
#btnResult, #addPoll, #addAnswers, #preview{
	background-color: #ED7D31;
	display: block; 
	border-radius:5px; 
	border: none;
	text-align: 
	center;
	text-decoration: 
	none;
	font-size: 15px;
	margin: 5px;
	color: #FFF;
	padding: 5px;
}
#addAnswers{
	margin: auto;
}
#addPoll{
	float: left;
}
#preview{
	float: right;
}
/* Add Poll Details */
.pollForm{
	background-color: #FFF;
	padding: 10px;
}
.formItem{
	margin: 10px 0px 10px 0px;
}
/* Add Answers for the poll */
#ans{
	height: 0;
}