<div id="divAddAnswers">
	<h1 style="{{style.h1Stlye}}">Add options</h1>
	<h2 style="{{style.h2Style}}">Please fill out this form with the various options of the poll.</h2>
	<hr />
    <br />
	<div class="w3-content">
		<div class="w3-row whiteBlock" ng-controller="cmsController" ng-init="loadAnswers()">
			<form name="pollAnswers">
				<div class="w3-row">
					<div class="w3-center">
						<md-input-container class="formItem">
							<label>Option 1:</label>
							<input  type="text" name="option1" ng-model="answers.option1" required="required" />
							<div ng-messages="option1.$error">
								<div ng-message="required">This is required.</div>
							</div>
						</md-input-container>
						<br />
						<md-input-container class="formItem">
							<label>Option 2:</label>
							<input type="text" name="option2" ng-model="answers.option2" required="required" />
							<div ng-messages="option2.$error">
								<div ng-message="required">This is required.</div>
							</div>
						</md-input-container>
						<br />
						<md-input-container class="formItem">
							<label>Option 3:</label>
							<input type="text" name="option3" ng-model="answers.option3" />
						</md-input-container>
						<br />
						<md-input-container class="formItem">
							<label>Option 4:</label>
							<input type="text" name="option4" ng-model="answers.option4" />
						</md-input-container>
					</div>
				</div>
				<div class="w3-row">
					<!-- Back and Next Buttons. -->
					<md-button id="backToPoll" class="md-raised" ng-click="backToAddPoll()">Back To Add Poll Details</md-button>	
					<md-button id="preview" type="submit" class="md-raised" ng-click="goToPreview()">Preview Poll</md-button>	
				</div>
			</form>
		</div>
	</div>
</div>