<div id="divHelp">
	<h1 style="{{style.h1Style}}">Help</h1>
	<div class="w3-content whiteBlock">
		<h4 style="{{style.h4Widget}}">Here's some information about what this Poll Manager is about, as well as the embeddable widget that is created for each poll</h4>
		<br />
		<div class="w3-row">
			<div class="w3-half">
				<fieldset class="orangeFieldset" style="{{style.fieldset}}">
					<legend class="orangeLegend">Poll Manager</legend>
					<h3 style="{{style.h3Style}}">Features</h3>
					<ol>
						<li>View all open and closed polls</li>
						<li>Create a new poll</li>
							<ul>
								<li>2 compulsory answers to be added to the poll</li>
								<li>2 optional answers can be added to the poll</li>
							</ul>
						<li>View the results for a poll</li>
					</ol>
				</fieldset>
			</div>
			<div class="w3-half">
				<fieldset class="orangeFieldset" style="{{style.fieldset}}">
					<legend class="orangeLegend">Widget</legend>
					<h3 style="{{style.h3Style}}">Features</h3>
					<ol>
						<li>User can cast their vote</li>
						<li>User can view the current percentages for each answer - once they've voted</li>
					</ol>
				</fieldset>
			</div>
		</div>
	</div>
</div>