<!-- Fieldset for each poll. -->
<fieldset class="orangeFieldset">
	<legend class="orangeLegend">{{poll.poll_title}}</legend>
	<div style="float:right">
		<close-poll id="poll.poll_guid"></close-poll>
		<delete-poll id="poll.poll_guid"></delete-poll>
	</div>
	<p>Description: {{poll.poll_description}}</p>
	<ul id="pollDetails">
		<li>Total Votes: {{total_votes}}</li>
		<li>End Date: {{poll.end_date}}</li>
		<li>Status: {{poll.status}}</li>
		<li>Author: {{poll.author}}</li>
	</ul>
	<!-- Sending through the current poll id so that the results page will show the results for that poll. -->
	<view-results id="poll.poll_guid"></view-results>
</fieldset>