<fieldset class="orangeFieldset">
	<legend class="orangeLegend">{{poll.title}}</legend>
	<p>Poll ID: {{poll.pollID}}</p>
	<p>Description: {{poll.description}}</p>
	<ul id="pollDetails">
		<li>Total Votes: {{poll.totalVotes}}</li>
		<li>End Date: {{poll.endDate}}</li>
		<li>Status: {{poll.pollStatus}}</li>
		<li>Author: {{poll.author}}</li>
	</ul>
	<!-- Sending through the current poll id so that the results page will show the results for that poll. -->
	<view-results id="poll.pollID"></view-results>
</fieldset>