<div id="divPublish" ng-init="loadWidgetInfo()">
	<h1>{{newPoll.title}}</h1>
	<hr />
    <br />
	<div class="w3-content whiteBlock" ng-controller="cmsController">
		<div class="w3-row w3-center">
			<h2 style="color:#000">{{newPoll.title}} has been successfully created</h2>	
		</div>
		<div class="w3-row">
			<!-- Link to the website in which users can find the widget. -->
			<div class="w3-center">
				<fieldset class="orangeFieldset" style="height:inherit">
					<legend class="orangeLegend">Shareable Link</legend>
					<p>Here is the link which you can use to share: <a href="{{newPoll.sharingURL}}" target="_blank">{{newPoll.sharingURL}}</a></p>		
				</fieldset>
			</div>
			
		</div>
		<div class="w3-row">
			<!-- Code to nest in parent website. -->
			<div class="w3-center" ng-init="getNewlyCreatedPoll()">
				<fieldset class="orangeFieldset" style="height:inherit">
					<legend class="orangeLegend">Embeddable Widget</legend>
					<p>Here is the code for your widget:</p>
					<p>{{embeddableCode}}</p>
				</fieldset>
			</div>
		</div>
		<!-- Back and Next Buttons. -->
		<div class="w3-row">
			<md-button id="backToPreview" class="md-raised" ng-click="goToPreview()">Back To Preview Poll</md-button>	
			<md-button id="home" class="md-raised" ng-click="goToHome()">Go Home</md-button>	
		</div>
		<p>{{embeddableCode}}</p>
	</div>
</div>